name: Run Docker with Tests (Python 3)

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:

jobs:
  test:
    name: Run Tests with Python 3
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4

      - name: Verificar arquivos no CI
        run: ls -R src/

      - name: Configurar Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Instalar depend锚ncias
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy coverage

      - name:  Executar um teste manualmente
        run: python3 -m unittest src.model.exception.BenchmarkExceptionTest -v
  
      - name: Listar testes detectados
        run: python3 -m unittest discover -s src -p "*Test.py" -v

      - name: Executar testes
        run: PYTHONPATH=src coverage run --source=src -m unittest discover -s src -p "*Test.py"

      - name: Verificar cobertura antes do relat贸rio
        run: coverage report || echo "Nenhuma cobertura encontrada!"

      - name: Gerar relat贸rio de cobertura
        run: |
          coverage report -m
          coverage xml
          
      - name: Upload da cobertura de testes
        uses: actions/upload-artifact@v4
        with:
          name: cobertura-de-testes
          path: coverage.xml

  docker:
    name: Build & Run Docker
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4

      - name: Build da imagem Docker
        run: docker build -t my-app .

      - name: Rodar o container
        run: docker run --rm my-app
